.review {
  display: flex;
  justify-content: space-between;
  margin: 0 2 * $gutter;


  &__person {
    max-width: 32%;
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    max-width: 80%;
    border-radius: 100%;
  }

  &__quote {

    margin-bottom: $gutter / 2;
    height: 3.9rem;
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-style: italic;
    font-size: 1.3125rem;
    font-weight: 600;
  }

  &__name {
    font-weight: 600;
    text-align: center;
  }

  &__subscription {

    font-size: 0.875rem;
    color: #727272;
    text-align: center;
  }

}
