.service {

  margin: 2 * $gutter;

  display: flex;
  justify-content: space-between;

  &__image {
    max-width: 49.167%;
  }

  &__list {
    max-width: 49.167%;
    margin-left: $gutter;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }




}
