.service {

  margin-top: 2 * $gutter;
  margin-bottom: 2 * $gutter;

  display: flex;
  justify-content: space-between;


  &__image {
    max-width: 49.167%;

  }

  &__list {
    max-width: 49.167%;
  }
}
